            @import url('https://fonts.googleapis.com/css?family=Roboto');
            body {
                font-family: Roboto, arial, sans-serif;
                height: 1500px;
            }
            
            // variables
            $side-menu-bg-color: #1a1a1a;
            $side-menu-width: 240px;
            $side-menu-backdrop-z-index: 1040;
            $side-menu-mobile-z-index: 1050;
            $header-z-index: 1030;
            $side-menu-desktop-z-index: 1020;
            $header-height: 56px;
            // helper classes
            .bg-gray {
                background-color: #e3e3e3;
            }
            
            .flex-grow-1 {
                flex-grow: 1;
            }
            
            .flex-shrink-0 {
                flex-shrink: 0;
            }
            
            .hamburger-btn {
                background-color: inherit;
                padding: 6px 8px;
            }
            
            header {
                height: 56px;
                box-shadow: 0 0 4px 4px #f3f3f3;
            }
            
            main.content {
                .video-row-title {
                    height: 20px;
                    width: 100px;
                }
                .video-thumbnail {
                    height: 200px;
                    border-left: 10px solid pink;
                    background-color: white;
                    box-sizing: border-box;
                    background: #ffffff;
                    border-radius: 2px;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
                    position: relative;
                }
                .graph {
                    height: 400px;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
                    border-left: 10px solid rgb(0, 68, 255);
                    background-color: white;
                }
                .btn {
                    text-align: center;
                    text-decoration: none;
                    margin: 2px 0;
                    border: solid 1px transparent;
                    border-radius: 4px;
                    padding: 0.5em 1em;
                    color: rgb(22, 15, 15);
                    background-color: rgb(11, 255, 113);
                }
                #hintOne {
                    visibility: hidden;
                }
                #hintTwo {
                    visibility: hidden;
                }
                #hintThree {
                    visibility: hidden;
                }
            }
            
            aside {
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                z-index: $side-menu-desktop-z-index;
                background-color: $side-menu-bg-color;
                width: $side-menu-width;
                overflow: hidden;
                .side-menu-header {
                    height: $header-height;
                    border-bottom: 1px solid #eeeeee;
                }
                .side-menu-body {
                    height: calc(100% - #{$header-height});
                }
                .list-group {
                    padding: 12px 0;
                    border-bottom: 1px solid #eeeeee;
                }
                .list-group-item {
                    height: 120px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgb(255, 255, 255);
                    padding: 0 24px;
                    border: none;
                    background-color: inherit;
                    .yt-icon path {
                        fill: #878787;
                    }
                    //     &:hover:nth-child(1) {
                    //         background-color: #33ff55;
                    //         color: black;
                    //         .yt-icon path {
                    //             fill: rgb(255, 255, 255);
                    //         }
                    //     }
                    //     &:hover:nth-child(2) {
                    //         background-color: #ff00ff;
                    //         color: black;
                    //         .yt-icon path {
                    //             fill: rgb(255, 255, 255);
                    //         }
                    //     }
                    //     &:hover:nth-child(3) {
                    //         background-color: #09a5ff;
                    //         color: black;
                    //         .yt-icon path {
                    //             fill: rgb(255, 255, 255);
                    //         }
                    //     }
                    //     &.active {
                    //         background-color: blueviolet;
                    //         color: inherit;
                    //         pointer-events: none;
                    //         font-weight: 700;
                    //         .yt-icon path {
                    //             fill: rgb(255, 218, 54);
                    //         }
                    //     }
                }
                // Hide & Show Logic
                transform: translate3d(-$side-menu-width,
                0,
                0);
                transition-duration: 0;
                &.open {
                    transform: translate3d(0, 0, 0);
                    &:not(.mobile)+.content {
                        margin-left: $side-menu-width;
                    }
                }
                // Hide & Show Logic Mobile
                &.mobile {
                    transition-duration: 0.2s;
                    z-index: $side-menu-mobile-z-index;
                }
                &.mobile.open~.side-menu-backdrop {
                    opacity: 1;
                    visibility: visible;
                }
            }
            
            .side-menu-backdrop {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
                z-index: $side-menu-backdrop-z-index;
            }